.inputs {
  display: flex;
  flex-direction: column;
}

/* .inputs input {
  margin:
} */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#start {
  background-color: blue;
}

svg {
  border: 1px solid red;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}