.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  margin:
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#start {
  background-color: blue;
}

