div {
  background-color: red;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#start {
  background-color: blue;
}

